

.add-scorlaship {
  text-align: center;
  color: $blackText;
  font-size: 15px;
  float:left;
  margin-right: 15px;
  width: calc(100%/5 - 20px);

  .card {
    min-height: 370px;
    text-align: center;

    .icon {
      padding-top: 130px;
      color: $mainBlue;
      margin-bottom: 30px;
    }

    span {
      display: block;
    }

    .title {
      font-weight: bold;
      font-size: 14px;
      margin-bottom: 5px;
    }

    .description {
      max-width: 160px;
      font-size: 12px;
      margin: 0 auto;
    }
  }
}

#AddScolarshipModal {
  .modal-content {
    width: 600px;
    padding: 0;
    height: auto;

    
    .modal-title,
    .modal-description {
      padding-left: 30px;
      padding-right: 30px;
    }
    .modal-title {
      padding-top: 20px;
    }
  }


  .filters {
    padding-left: 20px;;
    padding-right: 20px;
    margin-bottom: 20px;

    .each-filter {
      width: calc(50% - 20px);
      float: left;
      padding: 10px;

      label {
        font-size: 12px;
        display: block;
        font-weight: bold;
        margin-bottom: 5px;
      }

      &.type {
        .input-group {
          width: calc(40% - 20px);
          float: left;
          padding-top: 10px;
          padding-right: 10px;

          label {
            display: inline;
            font-weight: normal;
          }

          input {
            float: left;
            margin-top: 5px;
            background-color: red;
          }
        }
      }

      &.price {
        .filter-price {
          margin: 0;
          font-size: 13px;
          margin-bottom: 10px;

        
        }
      }
    }
  }

  .no-result {
    padding: 10px;
    margin: 30px;
    font-size: 12px;
    font-style: italic;
    background-color: $mainBlue;
    color: white;
    border-radius: 3px;
  }

  .title-and-order {
    padding-left: 30px;
    padding-right: 30px;
    font-weight: bold;

    .result-title {
      font-size: 12px;
    }

    .order-by {
      float: right;
      text-align: right;

      .order-filter {
        display: inline-block;
        width: auto;
        height: 20px;
        border: 0;
        color: $mainBlue;
        font-weight: bold;
        padding-left: 5px;
        cursor: pointer;
        -webkit-appearance: none;
        -moz-appearance: none;
        text-indent: 1px;
        text-overflow: '';
        &:-ms-expand {
          display: none;
        }

        &:focus,
        &:hover {
          outline: none;
        }
      }
    }
  }
}

.scholarship-list {
  margin-left: 0;
  list-style: none;
  padding-left: 0;
  overflow-x: hidden;
  overflow-y: auto;
  height: 250px;
  padding-right: 10px;
  border-top: 1px solid #e3e3e3;
  border-bottom: 1px solid #e3e3e3;

  li {
    width: 100%;
    height: 50px;
    font-size: 12px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-top: 1px solid #e3e3e3;
    border-bottom: 1px solid #e3e3e3;

    .each-info {
      float: left;
      padding: 10px;
    }

    &.disabled {
      .checkmark {
        background-color: #e0e0e0;
        border: 1px solid transparent;
      }
    }

    .check {
      width: calc(7% - 20px);
    }

    .logo {
      width: calc(18% - 20px);
      text-align: center;

      img {
        height: 20px;
        padding-top: 3px;
      }
    }
    .course {
      width: calc(35% - 20px);
      
      span {
        display: block;
      }
      
      .title {
        font-weight: bold;
        color: $mainBlue;
        margin-bottom: 5px;
      }
      .level {
        font-size: 11px;
      }
    }
    .price {
      text-align: right;
      width: calc(40% - 30px);
      padding-right: 10px;

      .discount .value,
      .monthly {
        color: $green;
        font-weight: bold;
      }

      .monthly {
        font-size: 11px;
      }

      .discount,
      .monthly {
        display: block;
      }
    }
  }

}

/*#region Mobile*/

@media screen and (max-width: 500px) {
  .add-scorlaship, each-scholarship-on-list {
    width: 100%;
    float: unset;
  }

  .add-scorlaship {
    width: 100%;
    display: block;

    .card {
      min-height: auto;
      min-height: auto;
      height: auto;
      padding-top: 50px;
      padding-bottom: 50px;


      .icon {
        padding-top: 0;
        margin-bottom: 20px;
      }
    }
  }


  #AddScolarshipModal {

    .modal {
      .close-button {
        right: 10px;
      }    
      
      .modal-content {
        width: 100% !important;  

        .modal-title,
        .modal-description {
          padding-left: 10px;
          padding-right: 10px;
        }
        .modal-title {
          padding-top: 20px;
        }

        .filters {
          padding-left: 0px;
          padding-right: 0px;

          .each-filter {
            width: calc(100% - 20px);
            float: unset;
            display: block;

            &.price {
              .input-range {
                width: 80%;
              }
            }
          }
        }

        .main-content {
          .title-and-order {
            padding-left: 10px;
            padding-right: 10px;
          }
          .order-by {
            .order-filter {
              display: block;
            }
          }

          .scholarship-list li  {
            height: auto;

            .each-info {
            }
            
            .logo {
              width: calc(30% - 20px); 

              img {
                max-height: 40px;
                max-width: 100%;
              }
            }

            .course {
              width: calc(47% - 20px); 
              padding-bottom: 0;
            }
            .price {
              text-align: left;
              padding-left: 0;
              margin-left: 40%;
            }
            
          }
        }
      }
    }
  }
}


/*#endregion Mobile*/
