@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap');


body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: $grayBg;
  color: $blackText;
}

a {
  text-decoration: none;
  font-style: normal;
  color: $secondaryBlue;
}


.container {
  padding-left: 150px;
  padding-right: 150px;
  margin: 0 auto;
  height: 100%;
  position: relative;
}


.card {
  background-color: white;
  padding: 20px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.1);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  height: 200px;

  &:hover {
    box-shadow: 0 5px 5px rgba(0,0,0,0.05), 0 5px 5px rgba(0,0,0,0.05);
  }
}


.btn {
  padding: 5px;
  border: 1px solid $mainBlue;
  display: inline-block;
  border-radius: 3px;
  font-size: 12px;
  padding: 10px 12px;
  font-weight: bold;
  color: $mainBlue;
  margin: 5px;

  &.sm {
    padding: 7px 14px;
  }

  &.contained {
    border: 1px solid $mainYellow;
    background-color: $mainYellow;
    color: $blackText;
  }

  &.disabled {
    cursor: default;
    background-color: #9c9c9c;
    color: #fbfbfb;
    border: 1px solid transparent;
  }
}

.modal {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  padding-top: 70px;
  overflow-y: scroll;
  z-index: 999;

  &:before {
    background-color: $backdrop;
    content: "";
    width: 100%;
    position: absolute;
    top: 0;
    height: 120%;    
    z-index: 99;   
  }

  
  .modal-content {
    z-index: 999;
    background-color: white;
    width: 400px;
    height: 400px;
    display: block;
    position: relative;
    margin: 0 auto;  
    padding: 20px 40px;

    .close-button {
      z-index: 999;
      color: white;
      position: absolute;
      top: -30px;
      right: 0;
    }

    .modal-title {
      font-size: 18px;
      margin: 0;
      margin-bottom: 5px;
      
    }
    .modal-description {
      font-size: 13px;
      margin: 0 0 20px 0;
    }
  }

  .modal-action {
    padding: 15px;
    text-align: right;
  }

}


.tab-list {
  list-style: none;
  padding-left: 0;

  li {
    a {
      color: $secondaryBlue;
      border: 1px solid $secondaryBlue;
      padding: 5px 10px;
      display: inline-block;
      font-size: 11px;
      font-weight: bold;
      transition: all 300ms ease-in;
      &:first-child {
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
        border-right: 0;
      }

      &:last-child {
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
        border-left: 0;
      }

      &:hover,
      &.active {
        background-color: $secondaryBlue;
        color: white;
      }
    }
  }
}

select {
  height: 40px; 
  width: 100%;
  border: 1px solid #e3e3e3;
  border-radius: 3px;
}

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: #FFF;
  -webkit-box-shadow: inset 1px 1px 2px rgba(0,0,0,0.1);
}
::-webkit-scrollbar-thumb {
  background: #CCC;
  -webkit-box-shadow: inset 1px 1px 2px rgba(0,0,0,0.2);
}
::-webkit-scrollbar-thumb:hover {
  background: #AAA;
}
::-webkit-scrollbar-thumb:active {
  background: #888;
  -webkit-box-shadow: inset 1px 1px 2px rgba(0,0,0,0.3);
}



input[type=range] {
  box-sizing: border-box;
  font-size: 16px;
  line-height: 1;
  height: 1.4em;
  background-color: transparent;
  cursor: pointer;
  -webkit-appearance: none;
  width: 100%;
}
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
}
input[type=range]:focus {
  outline: none;

  
}
input[type=range]::-ms-track {
  width: 100%;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 1.4em;
  height: 1.4em;
  margin-top: 3px;
  background-color: white;
  border-radius: 1em;
  border: 2px solid $mainBlue;
  cursor: pointer;
  transition: all 200ms ease-out;

}
input[type=range]:hover::-webkit-slider-thumb {
  border-color: $mainBlue;
  transform: scale(1.1);
  transition: all 200ms ease-out;
}
input[type=range]:active::-webkit-slider-thumb {
  border-color: $mainBlue;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  cursor: pointer;
  height: 1em;
  border-bottom: 2px solid $mainBlue;
  background-color: transparent;
}


.input-range__slider {    
  background-color: white;
    border-color: $mainBlue;
}

.input-range__track--active {
  background-color: $mainBlue;
}


#Loading {
  text-align: center;
  width: 100%;
  display: block;
  min-height: 60px;
  padding-top: 10%;
}


/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 15px;
  width: 15px;
  cursor: pointer;
  border: 1px solid #ccc;
  background-color: white;
  border-radius: 3px;
  transition: all 200ms ease-in;
}

/* On mouse-over, add a grey background color */
.checkbox-container:hover input ~ .checkmark {
  background-color: #e3e3e3;
  transition: all 200ms ease-in;

}

/* When the checkbox is checked, add a blue background */
.checkbox-container input:checked ~ .checkmark {
  background-color: #2196F3;
  border: 1px solid transparent;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkbox-container input:checked ~ .checkmark:after {
  display: block;
}

.checkbox-container {
  padding-left: 23px;
  padding-top: 2px;
  position: relative;

  input {
    display: none;
  }
}
/* Style the checkmark/indicator */
.checkbox-container .checkmark:after {
  left: 5px;
  top: 3px;
  width: 2px;
  height: 5px;
  border: solid white;
  border-width: 0px 3px 3px 0px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}


.breadcrumb {
  font-size: 12px;
  padding-top: 20px;
  padding-bottom: 20px;

  .each-step {
    padding-right: 10px;
    font-weight: bold;
    color: $secondaryBlue;

    &:not(.actual) {
      &:after {
        content: ">";
        padding-left: 10px;
      }
    }

    &.actual {
      color: #969696;
      font-weight: normal;
    }
  }
}