$heightSize: 80px;

#TopBar {
  text-align: center;
  background-color: white;
  height: $heightSize;
  padding: 0 40px;
  font-size: 12px;
  font-weight: bold;
  position: relative;

  .how-works {
    color: $secondaryBlue;
    line-height: $heightSize;
    float: left;
  }

  .divisor {
    background-color: $grayBg;
    width: 6px;
    height: 100%;
    margin: 0 20px;
    float: left;
  }

  .talk-to-us {
    color: $secondaryBlue;
    float: left;
    height: 100%;
    width: 200px;

    .whatsapp-icon {
      float: left;
      margin-right: 10px;
      color: $green;
      height: 100%;

      svg {
        padding-top: 10px;
      }
    }

    .number,
    .phrase {
      display: block;
    }
    
    .number {
      margin-top: 20px;
      margin-bottom: 5px;
      font-size: 14px;
    }
  }

  .logo {
    height: 100%;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
  }



}




/*#region Mobile*/

@media screen and (max-width: 1200px) {
  #TopBar {
    padding: 0;
    height: auto;
    min-height: 80px;
    
    .how-works, .talk-to-us, .divisor {
      display: none;
    }

    .logo {
      height: 60px;
    }
  }
}

/*#endregion Mobile*/
